@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.App{
    font-family: 'Quicksand', sans-serif;
}

.blogImage {
    width: 300px
}

.blogCard {
    /* border-style: solid; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    display: block;
    width: 800px;
}

.featuredBlogCard {
    /* border-style: solid;
     */
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    display: block;
    width: 600px;
}

/* .topLeftName {
    color: rgb(234, 163, 31);
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-color: black;
    border-radius: 35px;
    width: 75%;
    
} */

.nameLogo {
    width: 150px;
    margin-left: 15px;
    margin-top: 15px;
}

.topLeftName h1 {
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bolder;
}

.navBar {
    position: relative;
    background-color: rgba(234, 163, 31, 0.537);
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 45px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgba(234, 163, 31, 0.537);
    
}

.navBarButton {
    width: 16.666%;
    margin-top: 10px;
    background-color: white;
    border-style: solid;
    border-color: white;
}

.navBarButton:hover{
    background-color: rgb(175, 175, 175);
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}

.navBarButton:active{
    background-color: rgb(89, 89, 89);
    border-style: solid;
    border-color: black;
    border-radius: 8px;
}

.profPic {
    height: 200px;
    border-style: solid;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.headline {
    text-align: center;
}

.contactForm {
    text-align: center;
}

.contactForm input {
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}

.contactForm textarea {
    text-align: center;
    margin-bottom: 20px;
    width: 200px;
}


.homeText {
    text-align: center;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.aboutPara {
    width: 620px;
    margin: auto;
    text-align: center;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    /* color: rgb(85, 85, 85); */
}

.aboutParaHyphen {
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 10px;
    /* color: rgb(85, 85, 85); */
}

.githubLogo{
    width: 30px;
    border-style: solid;
    border-color: white;
}

.githubLogo:hover{
    border-color: black;
}

.projectCard {

    margin: auto;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    text-align: center;
    width: 800px;
    display: block;
    opacity: 1;
}

.projectCardLoading {

    margin: auto;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    text-align: center;
    width: 800px;
    display: block;
    opacity: 0;
}

.projectLink:hover {
    color:rgb(234, 163, 31)
}

.featuredProjectCard {
    /* border-style: solid; */
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(245, 245, 245);
    display: block;
    width: 600px;
}

.errorMessage{
    color: red;
}

#loadingGif{
    width: 100px;
}